body {
    background-size: 100% auto;
}


::-webkit-scrollbar {
   display: none;
}


#content {
    margin-top: 5%;
    background-color: beige;
    color: rgba(0, 0, 0, 0.71);
}


.container {
    /*
    Set width to the whole screen, this is ok since some responsive
    shit from materialize.css will fuck this anyway so it is never going to be 100.
    */
    width: 100%;  
}


.avatar {
    margin: 10px;
    padding-right: 30px;
}

.social a {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.71);
}

.social a:hover {
    color: #EB6C72;
}


#full {
    padding: 0;
}

pre {
    margin-bottom: 0;
}

hr {
    background-color: #EB6C72;
    border-color: #EB6C72;
    color: #EB6C72;
}

/*Markdown shit wraps everything in paragraphs */
td p {
  margin: 0;
  padding: 0;
}